<!DOCTYPE html>
<html>
  <head>
    <title>NvidiaUpdateApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class = "bg-slate-900 text-white">
    <%= render 'layouts/nav' %>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>

     <script>
      var main = () => {
        var desktop = document.getElementById("desktop") 
        var mobile = document.getElementById("mobile")
        var platform = document.getElementById("platform")

        platform.onchange = (e) => {
            if (e.target.value == "notebook") {
                desktop.classList.add("hidden")
                mobile.classList.remove("hidden")

            } else {
                mobile.classList.add("hidden")
                desktop.classList.remove("hidden")
            } 
        }
        }
        main()
    </script>
  </body>
</html>
